table{
width: 100%;
color: #27464A;

}

.tr{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 2px;
}

.thead{
    flex: 1;
    background-color: #B5CFCE;
    border-radius: 2px;
    position: sticky;
    top: 0;
}


tr{
    text-align: center;
    color: #27464A;
}

tr:hover{
    background-color: rgba(179, 208, 207, 0.42);
    cursor: pointer;
}


tr.active-row{
    background-color: rgba(179, 208, 207, 0.2);

}

