* {
  margin: 0;
}

.todaywaste {
  margin: 40px 80px;
  flex: 1;
}

#waste-table {
  max-width: 1920px;
  margin-top: 20px;
  height: 450px;
  background-color: var(--second_background);
  border-radius: 5px;
  overflow-y: auto;
  padding: 0px 2px 10px 2px;
}

.today-waste-details-wrapper {
  width: 100%;
  max-width: 1460px;
  height: 400px;
  margin-top: 50px;
  position: relative;
  border-radius: 10px;
  border: 2px solid rgba(179, 208, 207, 0.42);
}

.today-waste-details-wrapper > h2 {
  background-color: var(--body_background);
  display: inline;
  position: absolute;
  left: 50px;
  top: -20px;
  color: #7d9a99;
  font-weight: 600;
  font-size: var(--fs-big);
}

#today-waste-details {
  width: 85%;
  height: fit-content;
  display: flex;

  margin: auto;
  margin-top: 40px;
  padding: 20px;
  gap: 10px;
}

#today-fields-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.today-det-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}

.today-det-row > div {
  flex: 1;
}

.today-det-row label {
  display: block;
  margin-bottom: 10px;
}

#today-waste-details input,
#today-waste-details #waste-type {
  width: 300px;
  height: 40px;
  font-family: "Poppins";
  font-size: var(--fs-small);

  padding: 0px 10px 0px 10px;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  box-sizing: border-box;

  border: none;
  border-radius: 3px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.05);
  background-color: var(--second_background);
  color: var(--text-color-primary);
}

.label-wrapper {
  display: flex;
  justify-content: space-between;
  width: 300px;
}

.lbl-add-type {
  color: #b68677;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  cursor: pointer;
  font-size: var(--fs-small);
}

.lbl-add-type:hover {
  text-decoration-line: underline;
}

.dropdown-wrapper {
  max-height: 45px;
}
.dropdown {
  width: 300px;
  height: 40px;
  font-family: "Poppins";
  padding: 0px 10px 0px 10px;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  box-sizing: border-box;
  background: var(--second_background);
  color: var(--text-color-primary);
  border: none;
  border-radius: 3px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.05);
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: var(--fs-small);
}

.dropdown-search-wrapper {
  width: 300px;
  max-height: 400px;
  font-family: "Poppins";
  padding: 10px;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  box-sizing: border-box;
  background: var(--second_background);
  border: none;
  border-radius: 3px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 100;
  gap: 10px;
}

.dropdown-searchbox-wrapper {
  display: flex;
  width: 100%;
  box-shadow: inset 0 0 1px 1px rgba(0, 0, 0, 0.15);
  height: 40px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.dropdown-searchbox-wrapper input {
  width: 240px !important;
  height: 38px !important;
}

#waste-ingredient {
  box-shadow: none !important;
  background: var(--second_background);
}

.dropdown-result-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  max-height: 120px;
  overflow-y: auto;
}

.dropdown-option {
  min-height: 40px;
  display: flex;
  align-items: center;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 2px;
  color: var(--text-color-primary);
  font-size: var(--fs-small);
}

.dropdown-option:hover {
  background-color: rgba(194, 201, 210, 0.2);
}

::-webkit-scrollbar {
  width: 8px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: #c2c9d2;
}

.dropdown i.up {
  transform: rotate(180deg);
}
