/* toggle */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  border-radius: 20px;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: var(--button-color-primary)
}

.slider::before {
  position: absolute;
  content: "";
  height: 25px;
  width: 25px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 15px;
}

input:checked + .slider {
  background-color: #7d9a99;
}

input:checked + .slider::before {
  transform: translateX(26px);
}
/* toggle */

#settings-font {
  width: 200px;
  height: 40px;
  font-family: "Poppins";
  padding: 0px 10px 0px 10px;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  box-sizing: border-box;

  border: none;
  border-radius: 3px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.05);
}
